.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.bio-box {
    border-left: 4px solid var(--itq-red);
}